//Mixin de animação
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation:    #{$str};
  -o-animation:      #{$str};
  animation:         #{$str};
}

//Radius
@mixin radius($r){
	border-radius: $r;
	-moz-border-radius: $r;
	-webkit-border-radius: $r;
}

//Shadow
@mixin sombra($size, $color){
	-moz-box-shadow: $size $size $size $color;
	-webkit-box-shadow: $size $size $size $color;
	box-shadow: $size $size $size $color;
}

// Position
// @mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
//     position: $type;
//     top: $top;
//     right: $right;
//     bottom: $bottom;
//     left: $left;
// }